- pick_one = question.pick == 'one'
- pick_any = question.pick == 'any'
- r = response_for(@response_set, question, pick_one ? nil : answer, rg || g.try(:id))
- i = response_idx(!pick_one)
- response_index = pick_one ? index : "#{index}#{i}"
= hidden_field_tag "response_set[responses_attributes][#{response_index}][question_id]", r.question_id
= hidden_field_tag "response_set[responses_attributes][#{response_index}][api_id]", r.api_id
= hidden_field_tag("response_set[responses_attributes][#{response_index}][response_group]", rg) if g.try(:display_type) == 'repeater'
- if pick_one || pick_any
  %label{ for:"response_set[responses_attributes][#{response_index}]", class: answer.response_class, style: 'display: block;' }
    - if pick_one
      = radio_button_tag "response_set[responses_attributes][#{response_index}][answer_id]", answer.id, r.answer_id == answer.id, disabled: disabled, class: answer.css_class
    - elsif pick_any
      = check_box_tag "response_set[responses_attributes][#{index}#{i}][answer_id]", answer.id, r.answer_id == answer.id, disabled: disabled, class: answer.css_class
    - unless g.try(:display_type) == 'grid'
      = answer.text_for(nil, @render_context, I18n.locale)
      %span.help=answer.help_text_for(@render_context, I18n.locale)
- else
  = render('partials/input_answer', answer: answer, r: r, response_index: response_index, disabled: disabled)
